fastapi
uvicorn
transformers<5.0.0
sentence-transformers
tenacity
python-dotenv
langchain
langchain-core
langchain-community
langchain-experimental
langchain_google_genai
tiktoken
pydantic
pytest
ragas
langsmith
ipykernel
openevals
pinecone
requests
streamlit