fastapi
uvicorn
# transformers<5.0.0
# sentence-transformers
tenacity
# transformers<5.0.0
langchain_huggingface
langchain-experimental
huggingface_hub 
openevals
pinecone
requests
pandas==2.3.2
uvloop
# streamlit
# streamlit_autorefresh